[user]
	name = Otavio Salvador
	email = otavio@ossystems.com.br

[core]
    pager = less -MR

[color]
	ui = true

[gui]
    fontui   = -family terminus -size 9 -weight normal -slant roman -underline 0 -overstrike 0
    fontdiff = -family terminus -size 9 -weight normal -slant roman -underline 0 -overstrike 0
    editor = emacs

[merge]
	summary = true
	tool = emerge

[alias]
	st = status
	wlog = log --color-words
	wdiff = diff --color-words
	wshow = show --color-words
	signoff-rebase = "!GIT_SEQUENCE_EDITOR='sed -i -re s/^pick/e/' sh -c 'git rebase -i $1 && while git rebase --continue; do git commit --amend --signoff --no-edit; done' -"
	fetchpr = "!sh -c 'git fetch "$1" "pull/$2/head:pr-$2" "${@:3}"' -"

[diff]
    algorithm = minimal
    compactionHeuristic = true
    renames = true

[log]
	decorate = true

[push]
	default = matching
	rebase = true

[status]
    showUntrackedFiles = all

[format]
	numbered = auto
	headers = "Organization: O.S. Systems Software LTDA.\n"
#	coverletter = auto

[url "git://git.debian.org/"]
	insteadOf = ssh://git.debian.org/git/
[url "ssh://git.debian.org/git/"]
	pushInsteadOf = ssh://git.debian.org/git/
[url "git://git.debian.org/d-i/"]
	insteadOf = git+ssh://git.debian.org/git/d-i/
[url "git+ssh://git.debian.org/git/d-i/"]
	pushInsteadOf = git+ssh://git.debian.org/git/d-i/

[url "ssh://git@github.com/"]
	pushInsteadOf = git://github.com/
	pushInsteadOf = https://github.com/

[url "ssh://git@git.yoctoproject.org/"]
	pushInsteadOf = git://git.yoctoproject.org/

[url "ssh://code.ossystems.com.br/"]
	pushInsteadOf = https://code.ossystems.com.br/
	InsteadOf = https://code.ossystems.com.br/

[sendemail]
#	smtpserver = smtp.gmail.com
#	smtpserverport = 587
#	smtpencryption = tls
#	smtpuser = otavio.salvador@gmail.com
	multiedit = false
	aliasesfile = /home/otavio/.gitaliases
	aliasfiletype = mutt
[pager]
	diff = diff-so-fancy | less --tabs=4 -RFX
	show = diff-so-fancy | less --tabs=4 -RFX

[diff-so-fancy]
	markEmptyLines = false
	changeHunkIndicators = false
	stripLeadingSymbols = false

[gitreview]
	username=otavio
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
