*~
/user-config/emacs/.emacs.d/.lsp-session-v1
/user-config/emacs/.emacs.d/.recentf
/user-config/emacs/.emacs.d/.smex-items
/user-config/emacs/.emacs.d/auto-save-list/
/user-config/emacs/.emacs.d/backups/
/user-config/emacs/.emacs.d/elpa/
/user-config/emacs/.emacs.d/forge-database.sqlite
/user-config/emacs/.emacs.d/ido.last
/user-config/emacs/.emacs.d/projectile-bookmarks.eld
/user-config/emacs/.emacs.d/settings.el
/user-config/emacs/.emacs.d/transient/
/user-config/i3wm/.config/i3/log
/user-config/emacs/.emacs.d/eshell/history
/user-config/emacs/.emacs.d/tramp
/user-config/aspell/.aspell.br.prepl
