[submodule "zsh/.base16-shell"]
	path = user-config/zsh/.base16-shell
	url = git@github.com:chriskempson/base16-shell.git
[submodule "zsh/.bitbake-completion"]
	path = user-config/zsh/.bitbake-completion
	url = https://github.com/lukaszgard/bitbake-completion
