/emacs/.emacs.d/.smex-items
/emacs/.emacs.d/backups/
/emacs/.emacs.d/elpa/
/emacs/.emacs.d/ido.last
/emacs/.emacs.d/projectile-bookmarks.eld
/emacs/.emacs.d/settings.el
/emacs/.emacs.d/transient/
/emacs/.emacs.d/auto-save-list/
/emacs/.emacs.d/.recentf
/i3wm/.config/i3/log
/emacs/.emacs.d/.lsp-session-v1
/emacs/.emacs.d/forge-database.sqlite
